
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<meta charset="utf-8">

<!-- Use the .htaccess and remove these lines to avoid edge case issues.
More info: h5bp.com/i/378 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{{ text }}</title>
<meta name="description" content="">

<!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

<link rel="stylesheet" href="{{ request.static_url('ajpmanager:static/extras/h5bp/css/style.css') }}">
<!-- Or use this one if you run H5BP's build script -->
<!--link rel="stylesheet" href="extras/h5bp/publish/css/e68668b.css"-->

<link rel="stylesheet" href="{{ request.static_url('ajpmanager:static/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ request.static_url('ajpmanager:static/css/admin.css') }}">
<!--<link rel="stylesheet/less" href="{{ request.static_url('ajpmanager:static/less/bootstrap.less') }}"-->
<!--script src="{{ request.static_url('ajpmanager:static/less_js/less-1.3.0.min.js') }}"></script> -->

<!-- Want to try a different theme?
          If not using LESS compiler: Uncomment below
        and change to name of desired theme. (See docs) 	-->
<!--link type="text/css" rel="stylesheet" href="extras/css/amelia.css" /-->

<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

<!-- All JavaScript at the bottom, except this Modernizr build.
Modernizr enables HTML5 elements & feature detects for optimal performance.
Create your own custom Modernizr build: www.modernizr.com/download/ -->
<script src="{{ request.static_url('ajpmanager:static/extras/h5bp/js/libs/modernizr-2.5.3.min.js') }}"></script>
<style type="text/css">
    body {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
        padding: 9px 0;
    }
</style>
</head>
<body>
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#"  onclick="show_default_screen();">AJPmanager</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <p class="navbar-text pull-right">Logged in as <a href="#">{{ username }}</a></p>
            </div><!--/.nav-collapse -->

        </div>
    </div>
</div>

<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div align="center">
                <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
                <!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
                <!--[if gt IE 8]><!-->
                <div class="btn-toolbar">
                    <input id="stats" type="text" class="span8 disabled"  style="margin-top: 7px;" disabled>
                    <btn class="btn btn-info" onclick="query_all();"><i class="icon-refresh"></i></btn>
                </div>

            </div>
        </div><!--/.nav-collapse -->
    </div>
</div>
</div>

<div class="container-fluid">
<div class="row-fluid">
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-header">Models control</li>
            <li id="main_entry" class="active"><a href="#" onclick="show_default_screen();"><i class="icon-white icon-home"></i> Main screen</a></li>
            <li id="view_entry" class="hide"><a href="#"><i class="icon-user"></i> View machine</a></li>
            <li id="edit_entry" class="hide"><a href="#"><i class="icon-pencil"></i>  Edit machine</a></li>
            <li class="nav-header">Misc</li>
            <li id="settings_entry"><a href="#" onclick="show_settings();"><i class="icon-cog"></i> Settings</a></li>
            <li id="help_entry"><a href="#" onclick="show_help();"><i class="icon-flag"></i> Help</a></li>

            <li class="nav-header">Links</li>
            <li><a href="http://docs.pylonsproject.org/en/latest/docs/pyramid.html"><i class="icon-book"></i> Pyramid Documentation</a></li>
            <li><a href="http://github.com/Sapphire64/AJPmanager"><i class="icon-github-sign"></i> Project on GitHub</a></li>
            <li><a href="http://cs.donntu.edu.ua/English/indexEn.php"><i class="icon-home"></i> Computer Science Faculty</a></li>


        </ul>
    </div><!--/.well -->

    <div class="well">
        <div class="left_framer">
            <table class="table table-condensed table-centered" style="background-color: #ffffff;">
                <thead>
                <tr>
                    <th style="width: 160px;">Active operations</th>
                    <th style="width: 80px;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Image installation</td>
                    <td><div class="label label-info pointer" onclick="show_operations_modal(1);">Info</div></td>
                </tr>





                </tbody>
            </table>

        </div>
    </div><!--/.well -->


</div><!--/span-->
<div class="span7">

    <div class="well hide" id="machines_list">
        <h3 align="center">Virtual Machines List</h3>
        <br>

        <table id="machines_table" class="table table-striped table-centered" style="background-color: #ffffff;">
            <thead>
            <tr>
                <th style="width: 30px;">#</th>
                <th style="width: 200px;">Name</th>
                <th style="width: 150px;">Type</th>
                <th style="width: 150px;">Load</th>
                <th style="width: 30px;">Cores</th>
                <th style="width: 110px;">Memory</th>
                <th style="width: 30px;">Status</th>
                <th style="width: 25px;">
                    <input id="check0" type="checkbox" onchange="note_checkboxes(this);">
                </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div> <!-- Running machines DIV -->



    <div class="well hide" id="machine_detailed_info">

        <div class="btn-group">
            <btn class="btn btn-warning btn-large" title="Edit selected virtual machine"><i class="icon-pencil"></i></btn>
            <btn class="btn btn-primary btn-large" title="Clone selected virtual machine"><i class="icon-share"></i></btn>
            <btn class="btn btn-danger btn-large" title="Delete selected virtual machine"><i class="icon-remove"></i></btn>
        </div>
        detailed info screen




    </div>


    <div class="well hide" id="edit_machine_screen">

        edit machine screen




    </div>

    <div class="well hide" id="settings_screen">

        SETTINGS screens




    </div>

    <div class="well hide" id="help_screen">

        help screen




    </div>



</div> <!--span-->

<div class="span3">
    <div id="quick_manage_block" class="well">
        <h3 align="center">
            Manager
        </h3>
        <br>



        <table class="table table-bordered table-centered" style="background-color: #ffffff;">
            <thead>
            <tr>
                <th style="width: 30px;">#</th>
                <th style="width: 200px;">Name</th>
                <th style="width: 150px;">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="selected_id">3</td>
                <td id="selected_name"></td>
                <td id="selected_type">…</td>
            </tr>
            </tbody>
        </table>

        <div align="center">
            <div class="btn-toolbar">

                <div class="btn-group">
                    <btn id="run_button" class="btn btn-success btn-large disabled" title="Run all" onclick="run_machine()"><i class="icon-play"></i></btn>
                    <btn id="pause_button" class="btn btn-warning btn-large disabled" title="Pause all" onclick="pause_machine()"><i class="icon-pause"></i></btn>
                    <btn id="stop_button" class="btn btn-danger btn-large disabled" title="Stop all" onclick="stop_machine()"><i class="icon-stop"></i></btn>
                </div>

                <div class="btn-group">
                    <btn id="edit_button" class="btn btn-warning btn-large disabled" title="Edit selected virtual machine" onclick="edit_selected_item();"><i class="icon-pencil"></i></btn>
                </div>
                <div class="btn-group">
                    <btn id="detailed_info_button" class="btn btn-info btn-large disabled" title="Detailed information about selected VM" onclick="show_detailed_info(false);"><i class="icon-info-sign"></i></btn>
                </div>

            </div>
        </div>

    </div>

    <div id="project_info" class="well hide">
        <h3 align="center">
            AJPmanager info
        </h3>
        <p style="color: #ff0000;" align="center"><b>This project is currently under development, we are looking for contributors!</b></p>
        <p>You can help if you are familiar with any of this technologies:
        <ul><li>Python, Pyramid Framework, libvirt</li><li>HTML5, CSS, JavaScript</li> <li>XenAPI, Libvirt or any other VM technology</li></ul></p>

        <div align="center"><btn class="btn btn-large btn-primary">Visit us on <b>Github</b> <i class="icon-github-sign"></i></btn></div>

    </div>



    <div class="well">
        <h4 align="center">Add new machine from preset</h4>


        <div class="framer">
            <br>
            <table class="table table-condensed table-centered" style="background-color: #ffffff;">

                <thead>
                <tr>
                    <th style="width: 30px;">#</th>
                    <th style="width: 200px;">Preset</th>
                    <th style="width: 100px;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Nginx web server</td>
                    <td><div class="label label-success pointer" onclick="show_description_modal(1);">Install</div></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Apache web server</td>
                    <td><div class="label label-success pointer" onclick="show_description_modal(1);">Install</div></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Lighttpd web server</td>
                    <td><div class="label label-success pointer" onclick="show_description_modal(1);">Install</div></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>DNS server</td>
                    <td><div class="label label-success pointer" onclick="show_description_modal(1);">Install</div></td>
                </tr>




                </tbody>
            </table>

        </div>


        <br>

        <div align="center">
            <btn class="btn btn-success"><b>Add new </b><i class="icon-plus"></i></btn>
        </div>
    </div>


</div>
</div><!--/row-->


<div class="well">


</div>






<div id="myModal" class="modal hide fade" style="width: 670px">
    <!-- slightly non-centered - FIXME -->
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3 id="model_name">Image installation</h3>
    </div>
    <div class="modal-body">

        <div id="modal_content">


        </div>

        <hr>

        <div id="software">
            Software included with Debian 6.0:
            - blah
            - blah2
            - blah3

        </div>


        <hr>

        <form class="form-horizontal">
            <fieldset>
                <div class="control-group span8">
                    <label class="control-label" for="in-name">Machine name</label>
                    <div class="controls">
                        <input id="in-name" type="text" class="input-xlarge" maxlength="30">
                    </div>
                </div>


            </fieldset>
        </form>

        <p align="center">
            <b>Available:</b> 251.0 GB <!-- add spaces here TODO -->
            <b>Required:</b> 4.4 GB
        </p>


    </div>
    <div class="modal-footer">
        <btn type="button" class="btn btn-success btn-large" onclick="install_machine();"><i class="icon-pencil"></i> Install</btn>
        <a href="#" class="btn btn-large" data-dismiss="modal" >Close</a>
    </div>
</div>


<div id="opModal" class="modal hide fade" style="width: 670px">
    <!-- slightly non-centered - FIXME -->
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3 id="model_name">Image installation</h3>
    </div>
    <div class="modal-body">

        <div id="op_modal_content">


        </div>

        <hr>

        <div id="software">
            Software included with Debian 6.0:
            - foo
            - bar
            - spam

        </div>


        <hr>

        <form class="form-horizontal">
            <fieldset>
                <div class="control-group span8">
                    <label class="control-label" for="in-name">Machine name</label>
                    <div class="controls">
                        <input id="in-name" type="text" class="input-xlarge" maxlength="30">
                    </div>
                </div>


            </fieldset>
        </form>

        <p align="center">
            <b>Available:</b> 251.0 GB <!-- add spaces here TODO -->
            <b>Required:</b> 4.4 GB
        </p>


    </div>
    <div class="modal-footer">
        <btn type="button" class="btn btn-success btn-large" onclick="install_machine();"><i class="icon-pencil"></i> Install</btn>
        <a href="#" class="btn btn-large" data-dismiss="modal" >Close</a>
    </div>
</div>









</div><!--/.fluid-container-->

<!-- JavaScript at the bottom for fast page loading -->

<!-- AJPmanager scripts -->
<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/navigation.js') }}"></script>
<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/helpers.js') }}"></script>
<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/modals.js') }}"></script>
<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/querying.js') }}"></script>
<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/query_processing.js') }}"></script>






<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ request.static_url('ajpmanager:static/extras/h5bp/js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>

<!-- scripts concatenated and minified via build script -->
<script src="{{ request.static_url('ajpmanager:static/extras/h5bp/js/plugins.js') }}"></script>
<script src="{{ request.static_url('ajpmanager:static/extras/h5bp/js/script.js') }}"></script>
<!-- Or use this line if you're using H5BP's build script -->
<!--script src="extras/h5bp/publish/js/eaf4d2f.js"></script-->

<!-- Full Bootstrap js file. -->
<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap.min.js') }}"></script>

<!-- If you'd rather pick and choose, comment the above and uncomment what you need below -->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-alert.min.js') }}"></script-->
<!--<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-button.min.js') }}"></script> -->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-carousel.min.js') }}"></script-->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-collapse.min.js') }}"></script-->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-dropdown.min.js') }}"></script-->
<!--<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-modal.min.js') }}"></script> -->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-popover.min.js') }}"></script-->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-scrollspy.min.js') }}"></script-->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-tab.min.js') }}"></script-->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-tooltip.min.js') }}"></script-->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-transition.min.js') }}"></script-->
<!--script type="text/javascript" src="{{ request.static_url('ajpmanager:static/js/bootstrap-typeahead.min.js') }}"></script-->
<!--script type="text/javascript" src=""></script-->

<!-- end scripts -->

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
mathiasbynens.be/notes/async-analytics-snippet -->

<!-- jGrowl -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/extras/jgrowl/jquery.jgrowl.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready (function() {
        show_default_screen(true);
    });
</script>

<!-- Chosen -->
<script type="text/javascript" src="{{ request.static_url('ajpmanager:static/extras/chosen/chosen.jquery.min.js') }}"></script>
<!-- Activate Chosen js -->
<script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>

<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
</body>
</html>