{% extends "templates/base.jinja2" %}

{% block body_styles %}{% endblock %}

<link rel="stylesheet" href="{{ request.static_url('ajpmanager:static/noVNC/base.css') }}">
{% block content %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#" onclick="show_default_screen();"><span style="color: red;">力</span> AJPmanager</a>
                <div class="nav-collapse" id="bar">
                    <ul class="nav">
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <p id="username" class="navbar-text pull-right">Logged in as <a href="#">{{ username }}</a></p>
                </div><!--/.nav-collapse -->

            </div>
        </div>
    </div>

    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div align="center">
                    <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
                    <!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
                    <!--[if gt IE 8]><!-->
                    <div class="btn-toolbar">
                        <input id="stats" type="text" class="span8 disabled"  style="margin-top: 7px;" disabled>
                        <btn class="btn btn-info" onclick="query_all();"><i class="icon-refresh"></i></btn>
                        <p id="logout" class="navbar-text pull-right"><a class="btn" href="/logout"><i class="icon-signout"></i> Logout</a></p>
                    </div>

                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    </div>

    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-tabs nav-stacked">
                <li class="nav-header">Models control</li>
                <li id="main_entry" class="active"><a href="#" onclick="show_default_screen();"><i class="icon-white icon-home"></i> Main screen</a></li>
                <li id="view_entry" class="hide"><a href="#"><i class="icon-user"></i> View machine</a></li>
                <li id="edit_entry" class="hide"><a href="#"><i class="icon-pencil"></i>  Edit machine</a></li>
                <li class="nav-header">Misc</li>
                <li id="settings_entry"><a href="#" onclick="show_settings();"><i class="icon-cog"></i> Settings</a></li>
                <li id="help_entry"><a href="#" onclick="show_help();"><i class="icon-flag"></i> Help</a></li>

                <li class="nav-header">Links</li>
                <li><a href="http://docs.pylonsproject.org/en/latest/docs/pyramid.html"><i class="icon-book"></i> Pyramid Documentation</a></li>
                <li><a href="http://github.com/Sapphire64/AJPmanager"><i class="icon-github-sign"></i> Project on GitHub</a></li>
                <li><a href="http://cs.donntu.edu.ua/English/indexEn.php"><i class="icon-home"></i> Computer Science Faculty</a></li>


            </ul>
        </div><!--/.well -->

        <div class="well">
            <div class="left_framer">
                <table class="table table-condensed table-centered" style="background-color: #ffffff;">
                    <thead>
                    <tr>
                        <th style="width: 160px;">Active operations</th>
                        <th style="width: 80px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Image installation</td>
                        <td><div class="label label-info pointer" onclick="show_operations_modal(1);">Info</div></td>
                    </tr>





                    </tbody>
                </table>

            </div>
        </div><!--/.well -->


    </div><!--/span-->
    <div class="span7">

        <div class="well hide" id="machines_list">
            <h3 align="center">Virtual Machines List</h3>
            <br>

            <table id="machines_table" class="table table-striped table-centered" style="background-color: #ffffff;">
                <thead>
                <tr>
                    <th style="width: 30px;">#</th>
                    <th style="width: 200px;">Name</th>
                    <th style="width: 150px;">Type</th>
                    <th style="width: 150px;">Load</th>
                    <th style="width: 30px;">Cores</th>
                    <th style="width: 110px;">Memory</th>
                    <th style="width: 30px;">Status</th>
                    <th style="width: 25px;">
                        <input id="check0" type="checkbox" onchange="note_checkboxes(this);">
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div> <!-- Running machines DIV -->



        <div class="well hide" id="machine_detailed_info">

            <div class="btn-group">
                <btn class="btn btn-warning btn-large" title="Edit selected virtual machine"><i class="icon-pencil"></i></btn>
                <btn class="btn btn-primary btn-large" title="Clone selected virtual machine"><i class="icon-share"></i></btn>
                <btn class="btn btn-danger btn-large" title="Delete selected virtual machine"><i class="icon-remove"></i></btn>
            </div>
            detailed info screen




        </div>


        <div class="well hide" id="edit_machine_screen">

            edit machine screen




        </div>

        <div class="well hide" id="settings_screen">

            <ul id="tab" class="nav nav-tabs">
                <li class="active"><a href="#hypervisor" data-toggle="tab">Hypervisor settings</a></li>
                <li><a href="#users" data-toggle="tab">Users</a></li>
            </ul>
            <div id="TabContent" class="tab-content">

                <div class="tab-pane fade in active" id="hypervisor">
                    <h3 align="center">Settings</h3>
                    <br>

                    <div class="row-fluid">
                        <div class="span2">

                        </div>

                        <div class="span8">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="control-group">
                                        <label class="control-label" for="vm_provider">VM Provider</label>
                                        <div class="controls">
                                            <input class="input-xlarge disabled" style="text-align: center;" id="vmprovider_settings" type="text" placeholder="kvm" disabled>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Hypervisor URI</label>
                                        <div class="controls">
                                            <input type="text"  style="text-align: center;" class="input-xlarge" id="vmmanager_settings">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">Root VM folder</label>
                                        <div class="controls">
                                            <input type="text"  style="text-align: center;" class="input-xlarge" id="path_settings">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Presets folder</label>
                                        <div class="controls">
                                            <input type="text"  style="text-align: center;" class="input-xlarge" id="presets_settings">
                                            <p class="help-block">Name of the folder to store presets of the virtual machines</p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Images folder</label>
                                        <div class="controls">
                                            <input type="text"  style="text-align: center;" class="input-xlarge" id="images_settings">
                                            <p class="help-block">Name of the folder to store working virtual machines</p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Disk image file name</label>
                                        <div class="controls">
                                            <input type="text"  style="text-align: center;" class="input-xlarge" id="image_settings">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Config file name</label>
                                        <div class="controls">
                                            <input type="text"  style="text-align: center;" class="input-xlarge" id="config_settings">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Description file name</label>
                                        <div class="controls">
                                            <input type="text"  style="text-align: center;" class="input-xlarge" id="description_settings">
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="button" onclick="apply_settings();" class="btn btn-success">Save changes</button>
                                        <button type="button" onclick="restore_settings();" class="btn btn-info">Restore saved</button>
                                        <button type="button" onclick="restore_default_settings_ask();" class="btn btn-primary">Restore defaults</button>
                                        <button type="button" onclick="show_default_screen();" class="btn">Cancel</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="span2">

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="users">
                    Users list
                    <div id="noVNC_screen">
                        <div id="noVNC_status_bar" class="noVNC_status_bar" style="margin-top: 0px;">
                            <table border=0 width="100%"><tr>
                                <td><div id="noVNC_status">Loading</div></td>
                                <td width="1%"><div id="noVNC_buttons">
                                    <input type=button value="Send CtrlAltDel"
                                           id="sendCtrlAltDelButton">
                                </div></td>
                            </tr></table>
                        </div>
                        <canvas id="noVNC_canvas" width="640px" height="20px">
                            Canvas not supported.
                        </canvas>
                    </div>
                </div>
                </div>
            </div>



        </div>

        <div class="well hide" id="help_screen">

            help screen




        </div>




    <div class="span3">
        <div id="quick_manage_block" class="well">
            <h3 align="center">
                Manager
            </h3>
            <br>



            <table class="table table-bordered table-centered" style="background-color: #ffffff;">
                <thead>
                <tr>
                    <th style="width: 30px;">#</th>
                    <th style="width: 200px;">Name</th>
                    <th style="width: 150px;">Type</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="selected_id">3</td>
                    <td id="selected_name"></td>
                    <td id="selected_type">…</td>
                </tr>
                </tbody>
            </table>

            <div align="center">
                <div class="btn-toolbar">

                    <div class="btn-group">
                        <btn id="run_button" class="btn btn-success btn-large disabled" title="Run all" onclick="operate_machine('run')"><i class="icon-play"></i></btn>
                        <btn id="pause_button" class="btn btn-warning btn-large disabled" title="Pause all" onclick="operate_machine('pause')"><i class="icon-pause"></i></btn>
                        <btn id="stop_button" class="btn btn-danger btn-large disabled" title="Stop all" onclick="operate_machine('stop')"><i class="icon-stop"></i></btn>
                        <btn id="destroy_button" class="btn btn-danger btn-large hide" title="Stop all" onclick="operate_machine('destroy')"><i class="icon-remove"></i></btn>
                    </div>

                    <div class="btn-group">
                        <btn id="edit_button" class="btn btn-warning btn-large disabled" title="Edit selected virtual machine" onclick="edit_selected_item();"><i class="icon-pencil"></i></btn>
                    </div>
                    <div class="btn-group">
                        <btn id="detailed_info_button" class="btn btn-info btn-large disabled" title="Detailed information about selected VM" onclick="show_detailed_info(false);"><i class="icon-info-sign"></i></btn>
                    </div>

                </div>
            </div>

        </div>

        <div id="project_info" class="well hide">
            <h3 align="center">
                AJPmanager info
            </h3>
            <p style="color: #ff0000;" align="center"><b>This project is currently under development, we are looking for contributors!</b></p>
            <p>You can help if you are familiar with any of this technologies:
            <ul><li>Python, Pyramid Framework, libvirt</li><li>HTML5, CSS, JavaScript</li> <li>XenAPI, Libvirt or any other VM technology</li></ul></p>

            <div align="center"><btn class="btn btn-large btn-primary">Visit us on <b>Github</b> <i class="icon-github-sign"></i></btn></div>

        </div>



        <div class="well">
            <h4 align="center">Add new machine from preset</h4>


            <div class="framer">
                <br>
                <table id="presets_table" class="table table-condensed table-centered" style="background-color: #ffffff;">

                    <thead>
                    <tr>
                        <th style="width: 30px;">#</th>
                        <th style="width: 200px;">Preset</th>
                        <th style="width: 100px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>

            </div>

            <br><br>
        </div>


    </div>
    </div><!--/row-->








    <div id="descModal" class="modal hide fade" style="width: 670px">
        <!-- slightly non-centered - FIXME -->
        <div class="modal-header">
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>Image installation</h3>
        </div>
        <div class="modal-body">

            <div id="modal_content">


            </div>

            <hr>

            <div id="software">
                <!-- THIS BLOCK IS TODO:
                        SHOW OS ver,
                </div>


                <!--hr-->

                <form class="form-horizontal">
                    <fieldset>

                        <div class="control-group span8">
                            <label class="control-label" for="in-name">Machine name</label>
                            <div class="controls">
                                <input id="in-name" type="text" class="input-xlarge" maxlength="30">
                            </div>
                        </div>


                    </fieldset>
                </form>

                <p id="storage_info" align="center">
                    <b>Available:</b> 251.0 GB <!-- add spaces here TODO -->
                    <b>Required:</b> 4.4 GB
                </p>


            </div>
            <div class="modal-footer">
                <btn type="button" class="btn btn-success btn-large" onclick="install_machine();"><i class="icon-pencil"></i> Install</btn>
                <a href="#" class="btn btn-large" data-dismiss="modal" >Close</a>
            </div>
        </div>


        <div id="opModal" class="modal hide fade" style="width: 670px">
            <!-- slightly non-centered - FIXME -->
            <div class="modal-header">
                <a class="close" data-dismiss="modal" >&times;</a>
                <h3 id="model_name">Image installation</h3>
            </div>
            <div class="modal-body">

                <div id="op_modal_content">


                </div>

                <hr>


                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group span8">
                            <label class="control-label" for="in-name">Machine name</label>
                            <div class="controls">
                                <input id="in-name" type="text" class="input-xlarge" maxlength="30">
                            </div>
                        </div>


                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <btn type="button" class="btn btn-success btn-large" onclick="install_machine();"><i class="icon-pencil"></i> Install</btn>
                <a href="#" class="btn btn-large" data-dismiss="modal" >Close</a>
            </div>
        </div>









    </div><!--/.fluid-container-->



{% endblock %}

{% block ajp_scripts %}
    <!-- AJPmanager scripts -->
    <script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/navigation.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/helpers.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/modals.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/querying.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('ajpmanager:static/Scripts/query_processing.js') }}"></script>
    <script src="{{ request.static_url('ajpmanager:static/noVNC/vnc.js') }}"></script>
    <script src="{{ request.static_url('ajpmanager:static/noVNC/ui.js') }}"></script>
{% endblock %}




{% block ready_scripts %}
    /*jslint white: false */
    /*global window, $, Util, RFB, */
    "use strict";

    var rfb;

    function passwordRequired(rfb) {
        var msg;
        msg = '<form onsubmit="return setPassword();"';
        msg += '  style="margin-bottom: 0px">';
        msg += 'Password Required: ';
        msg += '<input type=password size=10 id="password_input" class="noVNC_status">';
        msg += '<\/form>';
        $D('noVNC_status_bar').setAttribute("class", "noVNC_status_warn");
        $D('noVNC_status').innerHTML = msg;
    }
    function setPassword() {
        rfb.sendPassword($D('password_input').value);
        return false;
    }
    function sendCtrlAltDel() {
        rfb.sendCtrlAltDel();
        return false;
    }
    function updateState(rfb, state, oldstate, msg) {
        var s, sb, cad, level;
        s = $D('noVNC_status');
        sb = $D('noVNC_status_bar');
        cad = $D('sendCtrlAltDelButton');
        switch (state) {
            case 'failed':       level = "error";  break;
            case 'fatal':        level = "error";  break;
            case 'normal':       level = "normal"; break;
            case 'disconnected': level = "normal"; break;
            case 'loaded':       level = "normal"; break;
            default:             level = "warn";   break;
        }

        if (state === "normal") { cad.disabled = false; }
        else                    { cad.disabled = true; }

        if (typeof(msg) !== 'undefined') {
            sb.setAttribute("class", "noVNC_status_" + level);
            s.innerHTML = msg;
        }
    }

    window.onload = function () {


        rfb = new RFB({'target':       $D('noVNC_canvas'),
            'encrypt':      WebUtil.getQueryVar('encrypt',
                    (window.location.protocol === "https:")),
            'repeaterID':   WebUtil.getQueryVar('repeaterID', ''),
            'true_color':   WebUtil.getQueryVar('true_color', true),
            'local_cursor': WebUtil.getQueryVar('cursor', true),
            'shared':       WebUtil.getQueryVar('shared', true),
            'view_only':    WebUtil.getQueryVar('view_only', false),
            'updateState':  updateState,
            'onPasswordRequired':  passwordRequired});
        rfb.connect(host, port, password, path);
    };

    window.onload = function () {

        var host = '127.0.0.1';
        var port = '6080';
        var password = '';
        var token;
        var path;

//              var host, port, password, path, token;

        $D('sendCtrlAltDelButton').style.display = "inline";
        $D('sendCtrlAltDelButton').onclick = sendCtrlAltDel;

        document.title = unescape(WebUtil.getQueryVar('title', 'noVNC'));
        // By default, use the host and port of server that served this file
        //host = WebUtil.getQueryVar('host', window.location.hostname);
        //port = WebUtil.getQueryVar('port', window.location.port);

        // If a token variable is passed in, set the parameter in a cookie.
        // This is used by nova-novncproxy.
        token = WebUtil.getQueryVar('token', null);
        if (token) {
            WebUtil.createCookie('token', token, 1)
        }

        //password = WebUtil.getQueryVar('password', '');
        path = WebUtil.getQueryVar('path', 'websockify');

        if ((!host) || (!port)) {
            updateState('failed',
                    "Must specify host and port in URL");
            return;
        }


        rfb = new RFB({'target':       $D('noVNC_canvas'),
            'encrypt':      WebUtil.getQueryVar('encrypt',
                    (window.location.protocol === "https:")),
            'repeaterID':   WebUtil.getQueryVar('repeaterID', ''),
            'true_color':   WebUtil.getQueryVar('true_color', true),
            'local_cursor': WebUtil.getQueryVar('cursor', true),
            'shared':       WebUtil.getQueryVar('shared', true),
            'view_only':    WebUtil.getQueryVar('view_only', false),
            'updateState':  updateState,
            'onPasswordRequired':  passwordRequired});
        rfb.connect(host, port, password, path);
    }

    $(document).ready (function() {
        show_default_screen(true);
    });
{% endblock %}


{% block additional_scripts %}
    <!-- Chosen -->
    <script type="text/javascript" src="{{ request.static_url('ajpmanager:static/extras/chosen/chosen.jquery.min.js') }}"></script>
    <!-- Activate Chosen js -->
    <script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true}); </script>
{% endblock %}